.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 48px;
    margin: 55px 101px;
    &__link {
        position:relative;
        display:inline-block;
        padding-left: 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #272727;
        &:hover {
            color: $primary;
        &:after {
            content:"";
            position:absolute;
            bottom:-4px;
            left:70%;
            width:50%;
            height:3px;
            margin-left:-30%;
            background: $primary;
        }
        &:last-child {
                margin-right: 0;
            }
        }
    }
}